# --- Database Settings ---
# Для локального запуска используй localhost, для Docker — db (имя сервиса)
DATABASE_URL=postgresql+asyncpg://user:password@db:5432/shop
DB_USER=your-db-user
DB_PASSWORD=your-db-password
DB_NAME=your-db-name

# --- Auth & Security ---
SECRET_KEY=your-super-secret-key-change-me
ALGORITHM=HS256
LIVE_TIME=30

# --- Redis Settings ---
REDIS_HOST=redis
REDIS_PORT=6379

# --- Kafka Settings ---
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC_ORDER_CREATED=order_events
KAFKA_CONSUMER_GROUP=order_processing_group

# --- Celery Settings ---
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# --- App Infrastructure ---
# Номер порта для Nginx или прямого доступа
APP_PORT=8000